header{
    background-image: url("https://psv4.userapi.com/c856432/u187980382/docs/d8/4cf34f64f040/home.png?extra=V6WxMShMr8OsiYrSRzVtFL7BpBJ4L4laBKn57G21XfxPmT7tx1W1Q0Ub0SweuI2sV5cyKOJhroErlFFn-_w4QpEwJ08KD5L-HNEjYXpHsMNK-ho0hNjT0e8LmHxXF_sdxtkXu-PbrK7V9BU5EVn98W5xhk0");
    background-repeat: no-repeat;
    height: 760px;
}

.logo{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    padding-top: 20px;
}

.context{
    color: white;
    font-family: 'Roboto';
    font-size: 30pt;
}

.sub-context{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.head-content{
    text-align: center;
    padding-top: 270px;
}

.cont-button{
    padding-top: 70px;
}
.navmenu{
    padding-top: 20px;
    padding-left: 550px;
}
